* {
  box-sizing: border-box;
  text-transform: capitalize !important;
}

/* by default it's dark */
body {
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* incase changed to light mode (pls don't it's too bright) */
body.light {
  background-color: #fff;
  color: #000;
}

.mainContainer {
  padding: 50px 0px;
  text-align: center;

  ul {
    list-style: none;

    li {
      padding: 20px 0px;
    }
  }

  input {
    padding: 5px;
  }
}
